* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  background-color: #131313;
  padding: 15px 40px;
  z-index: 1000;
}
.navbar .navbar-brand {
  font-size: 30px;
  font-weight: 700;
}
#navbarSupportedContent > ul > li:nth-child(n) > a {
  color: #fff;
  font-size: 18px;
  padding: 0 15px;
}
#navbarSupportedContent > ul > li:nth-child(n) > a:hover {
  color: #00bf85;
}
#navbarSupportedContent > button {
  background-color: transparent;
}
#navbarSupportedContent > button:hover {
  background-color: #00bf85;
}

/*---mid---*/
.mid {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.mid video {
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50.1%, -50%);
}
.hero {
  position: relative;
}
.hero h2 {
  font-size: 70px;
  font-weight: bold;
}
.hero p {
  font-size: 20px;
  margin-bottom: 40px;
}
.hero a {
  font-weight: 700;
  background-color: #00bf85;
  text-decoration: none;
  color: #000;
  border: 3px solid #00bf85;
  border-radius: 30px;
  padding: 15px 30px;
}
.hero a:hover {
  color: #fff;
  background-color: transparent;
}
@media screen and (max-width: 600px) {
  .hero h2 {
    font-size: 50px;
    font-weight: bold;
  }
  .hero p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

/*---about---*/
.about {
  background-color: #000;
}
.about .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}
.about .text h6 {
  color: #00bf7f;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 2px;
}
.about .text h2 {
  color: #f7f5f4;
  font-weight: 700;
  font-size: 2.7rem;
}
.about .text p {
  color: #f7f5f4;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  margin-bottom: 50px;
}
.about .text a {
  font-weight: 700;
  background-color: #00bf85;
  text-decoration: none;
  color: #000;
  border: 3px solid #00bf85;
  border-radius: 30px;
  padding: 10px 30px;
}
.about a:hover {
  color: #fff;
  background-color: transparent;
}

/*---discover---*/

.discover .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}
.discover .text h6 {
  color: #00bf7f;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 2px;
}
.discover .text h2 {
  color: #000;
  font-weight: 700;
  font-size: 2.7rem;
}
.discover .text p {
  color: #000;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  margin-bottom: 50px;
}
.discover .text a {
  font-weight: 700;
  background-color: #000;
  text-decoration: none;
  color: #fff;
  border: 3px solid #000;
  border-radius: 30px;
  padding: 10px 30px;
}
.discover a:hover {
  color: #000;
  background-color: transparent;
}

/*---Service---*/
.service {
  background-color: black;
}
.service h2 {
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;
}
.service h5 {
  color: #00bf7f;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 20px;
}
.service .one {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}
.service .one img {
  padding-top: 50px;
}
.service .one p {
  padding-bottom: 20px;
}

/*---sign in---*/

.signin .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}
.signin .text h6 {
  color: #00bf7f;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 2px;
}
.signin .text h2 {
  color: #000;
  font-weight: 700;
  font-size: 2.7rem;
}
.signin .text p {
  color: #000;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  margin-bottom: 50px;
}
.signin .text a {
  font-weight: 700;
  background-color: #000;
  text-decoration: none;
  color: #fff;
  border: 3px solid #000;
  border-radius: 30px;
  padding: 10px 30px;
}
.signin a:hover {
  color: #000;
  background-color: transparent;
}
.fab {
  color: #000;
}
